
KUTZ_ALLCODES_MATLAB/__MACOSX/BOOK_MATLAB/Chapter10/._Sec10_3.m
KUTZ_ALLCODES_MATLAB/__MACOSX/BOOK_MATLAB/Chapter10/._Sec10_6.m
KUTZ_ALLCODES_MATLAB/__MACOSX/BOOK_MATLAB/Chapter10/._Sec10_7.m
KUTZ_ALLCODES_MATLAB/__MACOSX/BOOK_MATLAB/Chapter10/._spc_rhs.m
KUTZ_ALLCODES_MATLAB/__MACOSX/BOOK_MATLAB/Chapter11/._pde_fn_bc.m
KUTZ_ALLCODES_MATLAB/__MACOSX/BOOK_MATLAB/Chapter11/._pde_fn_ic.m
KUTZ_ALLCODES_MATLAB/__MACOSX/BOOK_MATLAB/Chapter11/._pde_fn_pde.m
KUTZ_ALLCODES_MATLAB/__MACOSX/BOOK_MATLAB/Chapter11/._pdex1bc.m
CroppedYale/
yalefaces/
yalefaces_cropped/
*.avi
cropped_matrix.csv
cropped_svd.mat
*.jpg
*.mat
*.aux
*.out
*.gz
*.cls
*.log
**/Backup Captures
*.png﻿
*.tar
part1/
part2/
*.synctex
*.tex
*.pdf
*.cropped_svd
*.csv
*.gz
!pca_faces_and_music_classif_pres.pdf
!pca_of_redundant_vid_pres.pdf
!time_freq_analysis_music.pdf
!ultrasound_filtering_fourier.pdf
!philosophy_paper_classif_pres.pdf
!readme_scatter.png
!part1_s_values.png
*.toc